<%= div_for forum_post do%>
  <%= forum_post.body %>
  <p class="text-muted">Posted by <%= forum_post.user.email if forum_post.user.present?%></p>
  <%= link_to "Edit", edit_forum_thread_forum_post_path(forum_post.forum_thread.id, forum_post)%>
<% end %>
