<p id="notice"><%= notice %></p>
<div class="container-fluid well">

<h1>Listing Forum Threads</h1>

<% @forum_threads.each do |forum_thread|%>
  <div class="row ">
    <p class="brand"><%=link_to forum_thread.subject, forum_thread %></p>
    <p class="text-muted pull-right">Created by <%= forum_thread.user.email %></p>
  </div>
<% end %>
<br>

</div>

<%= link_to 'New Forum thread', new_forum_thread_path %>

<div class="container">
